<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Configuração de conexão com banco de dados -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/concessionaria?useTimezone=true&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <!-- número de conexões simultaneas -->
        <property name="connection.pool_size">1</property>

        <!-- Comunicação entre o hibernate e o banco de dados -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Gerenciamento de contexto das sessões -->
        <property name="current_session_context_class">thread</property>

        <!-- Cache de segundo nível  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Mostra SQL geradas -->
        <property name="show_sql">true</property>

        <!-- Cria as tabelas do banco de dados -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- Mapeamento das entidades -->
        <mapping class="br.com.concessionaria.dominio.Cidade"/>
      	<mapping class="br.com.concessionaria.dominio.Estado"/>
      	<mapping class="br.com.concessionaria.dominio.Pessoa"/>
      	<mapping class="br.com.concessionaria.dominio.Cliente"/>
      	<mapping class="br.com.concessionaria.dominio.Funcionario"/>
      	
		<mapping class="br.com.concessionaria.dominio.FabricanteCarro"/>
		<mapping class="br.com.concessionaria.dominio.Cor"/>
		<mapping class="br.com.concessionaria.dominio.Modelo"/>
		<mapping class="br.com.concessionaria.dominio.Veiculo"/>
		
		<mapping class="br.com.concessionaria.dominio.FabricanteItem"/>
		<mapping class="br.com.concessionaria.dominio.Item"/>
		<mapping class="br.com.concessionaria.dominio.CupomVenda"/>
		<mapping class="br.com.concessionaria.dominio.Servico"/>
		
		
    </session-factory>

</hibernate-configuration>